<!DOCTYPE html>
<html lang="en">
<head>
        <% include bloque1/head.html%>

    <title>Diagramas de Moore Automatas</title>
</head>
<body>
     
        <% include bloque1/nav.html%>

    <h1>Diagramas de Moore (Automatas) </h1>

    <ul>
            <% for (let i = 0; i<max ; i++){ %>
                <li>
                    <%= i %>
                </li>
                <%}%>
        </ul>
</body>
</html>