<!DOCTYPE html>
<html lang="en">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="proyect1.css">
<head>
        <title>Diagramas de Moore Automatas</title>
        <% include bloque1/head.html%>

    
</head>
<body>
        <% include bloque1/nav.html%>

    <h1>Diagramas de Moore (Autómatas) </h1>

    <article class="unico2"> 
            
                <li>Diagrama de Moore del Analizador:</li>
                <img src="/imagen/AutomataP1DFjff.jpg" id="foto">
                <img src="/imagen/AutomataDN.jff.jpg" id="foto">
                <img src="/imagen/AutomataDP1.jff.png" id="foto">
                <img src="/imagen/TABLA.png" id="foto">

 </article>
</body>
</html>