<!DOCTYPE html>
<html lang="en">

<head>
        <link href="style1.css" rel="stylesheet" type="text/css">
    <% include bloque1/head.html%>
</head>

<body>

    <% include bloque1/nav.html%>

    <h1>------ Universidad de San Carlos ------</h1>

    <h2>"Centro Unversitario de Occidente"</h2>

    <div class="contenedor">
            <h3> Proyecto 1</h3>
    </div>
    <p>-----------------------------------------------------------------</p>
    <div class="contenedor">
            <li>Proyecto 1</li>
            <li> DANIEL EDUARDO FERNÁNDEZ OVANDO</li>
            <li>Carné: 201731816</li>
            
    </div>
    <p>-----------------------------------------------------------------</p>
    <h5 id="unico3"> - Lenguajes formales y de programación - </h5>
    


       
</body>

</html>