<!DOCTYPE html>
<html lang="en">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="proyect1.css">
<head>

        <title>Analizador</title>
       <% include bloque1/head.html%>
</head>
<body>
    
    <% include bloque1/nav.html%>

    <header>
        <h1>---------------"Analizador Léxico FEROVA"---------------</h1>
</header>

    <section>
        

    <article >
           <div id="unico">
                <p>Ingresar Texto:</p>
   
           </div>
           <!-- Aca va mi boton con su cadena -->
           <div id="unico2">
                <input type="text" id="cadena" ></input>  
                <button onclick="revisar()" type="button">Ingresar</button>
        </div>
              
    </article>
   
    <p>---------------------------------------------------------------------------------------------------------</p>

    <article>
            <h2>
                <b>
                    <i>
                            Debe seleccionar un archivo de texto:
                    </i>
                        
                </b>
               </h2>
           </article>

    <div id="unico2">
            <form action="/mo" method="POST" enctype="multipart/form-data">
                <!-- <input type="file" name="fichero" value="Selecionar" id="unico2" class="btn" required /><br> -->
                </form>
              
                
                <input type="file" id="fileinput" (change)="onFileChange($event)"/>
                <p> Contenido del archivo: </p>
                <pre id="contenido-archivo1"></pre>
                <textarea name="archivotxt" id="archivotxt" cols="60" rows="20"></textarea>
                <br>

           
           
            <!--Para establecer comunicacion con el Server --> 
            <input type="button" name="bote" id="getButton" value="Enviar" style="display:none"/><br>    

                <% console.log("Estamos en Analizador"); 
                    
                %>
                <script src="./proyect1.js"></script>
                <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
                <script src="./Proyect1Comun.js"></script>
    </div>

    

           <!-- Aca esta mi titulo de mi historial o listado -->
    <article class="contenedor">
            <p>Historial ó Listado:</p>
            <ul>
                <div id="listado"></div>
            </ul>
    </article>
          

        <!--Aca esta mi imagen-->
       <a href="#">
            <img src="./FinesseGrande.png" alt="">
                    </a>
                    <!--Aca estaran mis referencias con sus respectivos links-->
                            <div class="links">
                                    <ol>
                                            <p>
                                                <i>
                                                    "REFERENCIAS"
                                            </i>
                                                </p>
                                                <li><a href="https://es.wikipedia.org/wiki/Analizador_l%C3%A9xico">¿Qué es un analizador léxico?</a></li>
                                                <li><a href="https://es.wikipedia.org/wiki/Hoja_de_estilos_en_cascada">CSS</a></li>
                                                <li><a href="https://es.wikipedia.org/wiki/HTML5">HTML5</a></li>
                                                <li><a href="https://es.wikipedia.org/wiki/JavaScript">JAVASCRIPT</a></li>

                                        </ol>
                            </div>
    <footer class="contenedor">
        <p> - Derechos de Autor -</p>
        
        
    </footer>
  

      </section>

</body>
</html>