<!DOCTYPE html>
<html lang="en">
<head>
    
     

       <% include bloque1/head.html%>
</head>
<body>
    
    <% include bloque1/nav.html%>

    <header>
        <h1>---------------"Analizador Léxico FEROVA"---------------</h1>
</header>

    <section>
        <article>
            <h2>
                <b>
                    <i>
                            Debe ingresar un texto:
                    </i>
                        
                </b>
               </h2>
           </article>

    <article >
           <div id="unico">
                <p>Ingresar Texto:</p>
                
               
                 
           </div>
           <!-- Aca va mi boton con su cadena -->
           <div id="unico2">
                <input type="text" id="cadena" ></input>  
                <button onclick="revisar()" type="button">Ingresar</button>
        </div>
              
    </article>
    <!-- Aca esta mi titulo de mi historial o listado -->
    <article class="contenedor">
            <p>Historial ó Listado:</p>
            <ul>
                <div id="listado"></div>
            </ul>
    </article>

        <!--Aca esta mi imagen-->
       <a href="#">
            <img src="./FinesseGrande.png" alt="">
                    </a>
                    <!--Aca estaran mis referencias con sus respectivos links-->
                            <div class="links">
                                    <ol>
                                            <p>
                                                <i>
                                                    "REFERENCIAS"
                                            </i>
                                                </p>
                                           
                                            <li><a href="https://es.wikipedia.org/wiki/Hoja_de_estilos_en_cascada">CSS</a></li>
                                            <li><a href="https://es.wikipedia.org/wiki/HTML5">HTML5</a></li>
                                            <li><a href="https://es.wikipedia.org/wiki/JavaScript">JAVASCRIPT</a></li>
                                        </ol>
                            </div>
    <footer class="contenedor">
        <p> - Derechos de Autor -</p>
        <div class="contenedor">
                <h3> Proyecto 1 </h3>
        </div>
        <div class="contenedor">
                <li>- DANIEL EDUARDO FERNÁNDEZ OVANDO</li>
        </div>
     
        <h5 id="unico3"> - Lenguajes formales y de programación - </h5>
        
    </footer>
    <script type="text/javascript" src="./practica1.js"></script>

      </section>

</body>
</html>